.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.table {
  margin: 25px auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #d4d8dc;
  border-bottom: 2px solid #2a61b3; }
  .table tr:hover {
    background: #f0f2f3; }
    .table tr:hover td {
      color: #393f45; }
  .table th,
  .table td {
    color: #818c97;
    border: 1px solid #d4d8dc;
    padding: 12px 35px;
    font-size: 16px;
    border-collapse: collapse; }
    @media only screen and (max-width: 1084px) {
      .table th,
      .table td {
        padding: 12px 15px;
        font-size: 12px; } }
    .table th.table__idtd,
    .table td.table__idtd {
      padding: 12px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .table th {
    background: #2a61b3;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px; }
  .table__remove-button {
    font-size: 10px;
    margin-left: 15px; }
    .table__remove-button:hover {
      cursor: pointer; }